<div id="preloader">
    <div class="loader"></div>
</div>
<!-- preloader area end -->
<!-- page container area start -->
<div class="page-container">
    <!-- sidebar menu area start -->
    <div class="sidebar-menu">
        <div class="sidebar-header">
            <div class="logo">
                <a href="/"><img src="/assets/images/icon/logo.png" alt="logo"></a>
            </div>
        </div>
        <div class="main-menu">
            <div class="menu-inner">
                <nav>
                    <ul class="metismenu" id="menu">
                        <li>
                            <a href="javascript:void(0)" aria-expanded="true"><i
                                    class="ti-dashboard"></i><span>dashboard</span></a>
                            <ul class="collapse">
                                <li><a href="/">SEO dashboard</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)" aria-expanded="true"><i
                                    class="ti-layout-sidebar-left"></i><span>Sidebar
                                    Types
                                </span></a>
                            <ul class="collapse">
                                <li><a href="">Left Sidebar</a></li>
                                <li><a href="/admin/dashboard-horiz">Horizontal Sidebar</a></li>
                            </ul>
                        </li>

                        <li class="active">
                            <a href="javascript:void(0)" aria-expanded="true"><i
                                    class="ti-palette"></i><span>Element</span></a>
                            <ul class="collapse">
                                <li><a href="/category/form-category">Form Category</a></li>
                                <li><a href="/product/form-product">Form Product</a></li>
                                <li><a href="/admin/form-admin">Form Admin</a></li>
                                <li class="active"><a href="form-client">Form Client</a></li>
                                <li><a href="/product/all-item">All Product</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-table"></i>
                                <span>Tables</span></a>
                            <ul class="collapse">
                                <li><a href="/client">client</a></li>
                                <li><a href="/category">category</a></li>
                                <li><a href="/product">product</a></li>
                                <li><a href="/order">order</a></li>

                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)" aria-expanded="true"><i
                                    class="ti-pie-chart"></i><span>Charts</span></a>
                            <ul class="collapse">
                                <li><a href="/admin/chart">bar chart</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)" aria-expanded="true"><i class="ti-layers-alt"></i>
                                <span>Pages</span></a>
                            <ul class="collapse">
                                <li><a href="/admin/screen-lock">Lock Screen</a></li>
                                <li><a href="/admin/reset-pass">Reset Password</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- sidebar menu area end -->
    <!-- main content area start -->
    <div class="main-content">
        <!-- header area start -->
        <div class="header-area">
            <div class="row align-items-center">
                <!-- nav and search button -->
                <div class="col-md-6 col-sm-8 clearfix">
                    <div class="nav-btn pull-left">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="search-box pull-left">
                        <form action="">
                            <input type="text" name="search" placeholder="Search..." required />
                            <i class="ti-search"></i>
                        </form>
                    </div>
                </div>
                <!-- profile info & task notification -->
                <div class="col-md-6 col-sm-4 clearfix">
                    <ul class="notification-area pull-right">
                        <li id="full-view"><i class="ti-fullscreen"></i></li>
                        <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                        <li class="dropdown">
                            <i class="ti-bell dropdown-toggle" data-toggle="dropdown">
                                <span>2</span>
                            </i>
                            <div class="dropdown-menu bell-notify-box notify-box">
                                <span class="notify-title">You have 3 new notifications
                                    <a href="">view all</a></span>
                                <div class="nofity-list">
                                    <a href="" class="notify-item">
                                        <div class="notify-thumb">
                                            <i class="ti-key btn-danger"></i>
                                        </div>
                                        <div class="notify-text">
                                            <p>You have Changed Your Password</p>
                                            <span>Just Now</span>
                                        </div>
                                    </a>
                                    <a href="" class="notify-item">
                                        <div class="notify-thumb">
                                            <i class="ti-comments-smiley btn-info"></i>
                                        </div>
                                        <div class="notify-text">
                                            <p>New Commetns On Post</p>
                                            <span>30 Seconds ago</span>
                                        </div>
                                    </a>
                                    <a href="" class="notify-item">
                                        <div class="notify-thumb">
                                            <i class="ti-key btn-primary"></i>
                                        </div>
                                        <div class="notify-text">
                                            <p>Some special like you</p>
                                            <span>Just Now</span>
                                        </div>
                                    </a>
                                    <a href="" class="notify-item">
                                        <div class="notify-thumb">
                                            <i class="ti-comments-smiley btn-info"></i>
                                        </div>
                                        <div class="notify-text">
                                            <p>New Commetns On Post</p>
                                            <span>30 Seconds ago</span>
                                        </div>
                                    </a>
                                    <a href="" class="notify-item">
                                        <div class="notify-thumb">
                                            <i class="ti-key btn-primary"></i>
                                        </div>
                                        <div class="notify-text">
                                            <p>Some special like you</p>
                                            <span>Just Now</span>
                                        </div>
                                    </a>
                                    <a href="" class="notify-item">
                                        <div class="notify-thumb">
                                            <i class="ti-key btn-danger"></i>
                                        </div>
                                        <div class="notify-text">
                                            <p>You have Changed Your Password</p>
                                            <span>Just Now</span>
                                        </div>
                                    </a>
                                    <a href="" class="notify-item">
                                        <div class="notify-thumb">
                                            <i class="ti-key btn-danger"></i>
                                        </div>
                                        <div class="notify-text">
                                            <p>You have Changed Your Password</p>
                                            <span>Just Now</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown">
                            <i class="fa fa-envelope-o dropdown-toggle" data-toggle="dropdown"><span>3</span></i>
                            <div class="dropdown-menu notify-box nt-enveloper-box">
                                <span class="notify-title">You have 3 new notifications
                                    <a href="">view all</a></span>
                                <div class="nofity-list">
                                    <a href="" class="notify-item">
                                        <div class="notify-thumb">
                                            <img src="/assets/images/author/author-img1.jpg" alt="image" />
                                        </div>
                                        <div class="notify-text">
                                            <p>Aglae Mayer</p>
                                            <span class="msg">Hey I am waiting for you...</span>
                                            <span>3:15 PM</span>
                                        </div>
                                    </a>
                                    <a href="" class="notify-item">
                                        <div class="notify-thumb">
                                            <img src="/assets/images/author/author-img2.jpg" alt="image" />
                                        </div>
                                        <div class="notify-text">
                                            <p>Aglae Mayer</p>
                                            <span class="msg">When you can connect with me...</span>
                                            <span>3:15 PM</span>
                                        </div>
                                    </a>
                                    <a href="" class="notify-item">
                                        <div class="notify-thumb">
                                            <img src="/assets/images/author/author-img3.jpg" alt="image" />
                                        </div>
                                        <div class="notify-text">
                                            <p>Aglae Mayer</p>
                                            <span class="msg">I missed you so much...</span>
                                            <span>3:15 PM</span>
                                        </div>
                                    </a>
                                    <a href="" class="notify-item">
                                        <div class="notify-thumb">
                                            <img src="/assets/images/author/author-img4.jpg" alt="image" />
                                        </div>
                                        <div class="notify-text">
                                            <p>Aglae Mayer</p>
                                            <span class="msg">Your product is completely Ready...</span>
                                            <span>3:15 PM</span>
                                        </div>
                                    </a>
                                    <a href="" class="notify-item">
                                        <div class="notify-thumb">
                                            <img src="/assets/images/author/author-img2.jpg" alt="image" />
                                        </div>
                                        <div class="notify-text">
                                            <p>Aglae Mayer</p>
                                            <span class="msg">Hey I am waiting for you...</span>
                                            <span>3:15 PM</span>
                                        </div>
                                    </a>
                                    <a href="" class="notify-item">
                                        <div class="notify-thumb">
                                            <img src="/assets/images/author/author-img1.jpg" alt="image" />
                                        </div>
                                        <div class="notify-text">
                                            <p>Aglae Mayer</p>
                                            <span class="msg">Hey I am waiting for you...</span>
                                            <span>3:15 PM</span>
                                        </div>
                                    </a>
                                    <a href="" class="notify-item">
                                        <div class="notify-thumb">
                                            <img src="/assets/images/author/author-img3.jpg" alt="image" />
                                        </div>
                                        <div class="notify-text">
                                            <p>Aglae Mayer</p>
                                            <span class="msg">Hey I am waiting for you...</span>
                                            <span>3:15 PM</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="settings-btn">
                            <i class="ti-settings"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- header area end -->
        <!-- page title area start -->
        <div class="page-title-area">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="breadcrumbs-area clearfix">
                        <h4 class="page-title pull-left">Dashboard</h4>
                        <ul class="breadcrumbs pull-left">
                            <li><a href="/">Home</a></li>
                            <li><span>Form</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 clearfix">
                    <div class="user-profile pull-right">
                        <img class="avatar user-thumb" src="/assets/images/author/avatar.png" alt="avatar" />
                        <h4 class="user-name dropdown-toggle" data-toggle="dropdown">
                            Dinh Tien Phong <i class="fa fa-angle-down"></i>
                        </h4>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="">Message</a>
                            <a class="dropdown-item" href="">Settings</a>
                            <a class="dropdown-item" href="/log-out">Log Out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- page title area end -->
        <div class="main-content-inner">
            <div class="col-lg-12 col-ml-12">
                <div class="row">
                    <!-- basic form start -->
                    <div class="col-12 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Client input types</h4>
                                <form action="/client/form-client" method="POST" autocomplete="off" class="needs-validation" novalidate="">
                                    <div class="form-group">
                                        <label for="client-username">Email</label>
                                        <input type="text" class="form-control" id="email" name="email"
                                            placeholder="Enter email" required="" onchange="validateEmail()" />
                                        <p id="invalid-client-email" class="text-danger"
                                            style="font-size: 12.5px; margin-top: 5px;"></p>

                                        <small id="emailHelp" class="form-text text-muted">We'll never share your email
                                            with anyone
                                            else.</small>
                                    </div>

                                    <div class="form-group">
                                        <label for="client-password">Password</label>
                                        <input type="password" class="form-control" id="pass" name="pass"
                                            onchange="validatePassword()" placeholder="Password" required="" />
                                        <p id="invalid-client-password" class="text-danger"
                                            style="font-size: 12.5px; margin-top: 5px;"></p>
                                    </div>

                                    <div class="form-group">
                                        <label for="client-confirm-password">Confirm password</label>
                                        <input type="password" class="form-control" id="confirm-password"
                                            onchange="validateConfirmPassword()" placeholder="Re-password" required="" />
                                        <p id="invalid-client-confirm-password" class="text-danger"
                                            style="font-size: 12.5px; margin-top: 5px;"></p>
                                    </div>

                                    <button disabled id="btn" type="submit" class="btn btn-primary mt-4 pr-4 pl-4">
                                        Submit
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main content area end -->

    <!-- main content area end -->
    <!-- footer area start-->
    <footer>
        <div class="footer-area">
            <p>© Copyright 2021. All right reserved. From the author <a
                    href="https://facebook.com/dennytosp/">Fontist</a>.</p>

        </div>
    </footer>
    <!-- footer area end-->
</div>
<!-- page container area end -->
<!-- offset area start -->
<div class="offset-area">
    <div class="offset-close"><i class="ti-close"></i></div>
    <ul class="nav offset-menu-tab">
        <li>
            <a class="active" data-toggle="tab" href="#activity">Activity</a>
        </li>
        <li><a data-toggle="tab" href="#settings">Settings</a></li>
    </ul>
    <div class="offset-content tab-content">
        <div id="activity" class="tab-pane fade in show active">
            <div class="recent-activity">
                <div class="timeline-task">
                    <div class="icon bg1">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="tm-title">
                        <h4>Rashed sent you an email</h4>
                        <span class="time"><i class="ti-time"></i>09:35</span>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
                        distinctio itaque at.
                    </p>
                </div>
                <div class="timeline-task">
                    <div class="icon bg2">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="tm-title">
                        <h4>Added</h4>
                        <span class="time"><i class="ti-time"></i>7 Minutes Ago</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                </div>
                <div class="timeline-task">
                    <div class="icon bg2">
                        <i class="fa fa-exclamation-triangle"></i>
                    </div>
                    <div class="tm-title">
                        <h4>You missed you Password!</h4>
                        <span class="time"><i class="ti-time"></i>09:20 Am</span>
                    </div>
                </div>
                <div class="timeline-task">
                    <div class="icon bg3">
                        <i class="fa fa-bomb"></i>
                    </div>
                    <div class="tm-title">
                        <h4>Member waiting for you Attention</h4>
                        <span class="time"><i class="ti-time"></i>09:35</span>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
                        distinctio itaque at.
                    </p>
                </div>
                <div class="timeline-task">
                    <div class="icon bg3">
                        <i class="ti-signal"></i>
                    </div>
                    <div class="tm-title">
                        <h4>You Added Kaji Patha few minutes ago</h4>
                        <span class="time"><i class="ti-time"></i>01 minutes ago</span>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
                        distinctio itaque at.
                    </p>
                </div>
                <div class="timeline-task">
                    <div class="icon bg1">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="tm-title">
                        <h4>Ratul Hamba sent you an email</h4>
                        <span class="time"><i class="ti-time"></i>09:35</span>
                    </div>
                    <p>Hello sir , where are you, i am egerly waiting for you.</p>
                </div>
                <div class="timeline-task">
                    <div class="icon bg2">
                        <i class="fa fa-exclamation-triangle"></i>
                    </div>
                    <div class="tm-title">
                        <h4>Rashed sent you an email</h4>
                        <span class="time"><i class="ti-time"></i>09:35</span>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
                        distinctio itaque at.
                    </p>
                </div>
                <div class="timeline-task">
                    <div class="icon bg2">
                        <i class="fa fa-exclamation-triangle"></i>
                    </div>
                    <div class="tm-title">
                        <h4>Rashed sent you an email</h4>
                        <span class="time"><i class="ti-time"></i>09:35</span>
                    </div>
                </div>
                <div class="timeline-task">
                    <div class="icon bg3">
                        <i class="fa fa-bomb"></i>
                    </div>
                    <div class="tm-title">
                        <h4>Rashed sent you an email</h4>
                        <span class="time"><i class="ti-time"></i>09:35</span>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
                        distinctio itaque at.
                    </p>
                </div>
                <div class="timeline-task">
                    <div class="icon bg3">
                        <i class="ti-signal"></i>
                    </div>
                    <div class="tm-title">
                        <h4>Rashed sent you an email</h4>
                        <span class="time"><i class="ti-time"></i>09:35</span>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
                        distinctio itaque at.
                    </p>
                </div>
            </div>
        </div>
        <div id="settings" class="tab-pane fade">
            <div class="offset-settings">
                <h4>General Settings</h4>
                <div class="settings-list">
                    <div class="s-settings">
                        <div class="s-sw-title">
                            <h5>Notifications</h5>
                            <div class="s-swtich">
                                <input type="checkbox" id="switch1" />
                                <label for="switch1">Toggle</label>
                            </div>
                        </div>
                        <p>Keep it 'On' When you want to get all the notification.</p>
                    </div>
                    <div class="s-settings">
                        <div class="s-sw-title">
                            <h5>Show recent activity</h5>
                            <div class="s-swtich">
                                <input type="checkbox" id="switch2" />
                                <label for="switch2">Toggle</label>
                            </div>
                        </div>
                        <p>
                            The for attribute is necessary to bind our custom checkbox
                            with the input.
                        </p>
                    </div>
                    <div class="s-settings">
                        <div class="s-sw-title">
                            <h5>Show your emails</h5>
                            <div class="s-swtich">
                                <input type="checkbox" id="switch3" />
                                <label for="switch3">Toggle</label>
                            </div>
                        </div>
                        <p>Show email so that easily find you.</p>
                    </div>
                    <div class="s-settings">
                        <div class="s-sw-title">
                            <h5>Show Task statistics</h5>
                            <div class="s-swtich">
                                <input type="checkbox" id="switch4" />
                                <label for="switch4">Toggle</label>
                            </div>
                        </div>
                        <p>
                            The for attribute is necessary to bind our custom checkbox
                            with the input.
                        </p>
                    </div>
                    <div class="s-settings">
                        <div class="s-sw-title">
                            <h5>Notifications</h5>
                            <div class="s-swtich">
                                <input type="checkbox" id="switch5" />
                                <label for="switch5">Toggle</label>
                            </div>
                        </div>
                        <p>Use checkboxes when looking for yes or no answers.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var isUsernameValid = false, isPasswordValid = false, isConfirmPasswordValid = false;
    var validRegex = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;


    function validateEmail() {
        let value = document.getElementById('email').value
        if (!value || value.length == 0) {
            document.getElementById('invalid-client-email').innerText = 'Do not leave it blank'
            isUsernameValid = false

        } else if (value.charAt(0) == ' ') {
            document.getElementById('invalid-client-email').innerText = 'Cannot start with a space'
            isUsernameValid = false
        }
        else if (value.length < 6 || value.length > 50) {
            document.getElementById('invalid-client-email').innerText = 'Accounts must enter a minimum of 6 and a maximum of 50'
            isUsernameValid = false
        } else if (!value.match(validRegex)) {
            document.getElementById('invalid-client-email').innerText = 'Please enter correct email format'
            isUsernameValid = false
        }
        else {
            document.getElementById('invalid-client-email').innerHTML = "<span style='color: #33cc33;'>Look good!</span>"
            isUsernameValid = true
        }
        validateForm()

    }


    function validatePassword() {
        let value = document.getElementById('pass').value
        if (!value || value.length == 0) {
            document.getElementById('invalid-client-password').innerText = 'Do not leave it blank'
            isPasswordValid = false
        }
        else if (value.charAt(0) == ' ') {
            document.getElementById('invalid-client-password').innerText = 'Cannot start with a space'
            isPasswordValid = false

        }
        else if (value.length < 6) {
            document.getElementById('invalid-client-password').innerText = 'The password is too short, minimum 6 characters'
            isPasswordValid = false

        }else if(value.length > 50){
            document.getElementById('invalid-client-password').innerText = 'Password is too long, maximum 50 characters'
            isPasswordValid = false

        }
        else {
            document.getElementById('invalid-client-password').innerHTML = "<span style='color: #33cc33;'>Look good!</span>"
            isPasswordValid = true
        }
        validateForm()

    }

    function validateConfirmPassword() {
        let valuePassword = document.getElementById('pass').value
        let value = document.getElementById('confirm-password').value
        if (!value || value.length == 0) {
            document.getElementById('invalid-client-confirm-password').innerText = 'Do not leave it blank'
            isConfirmPasswordValid = false
        }
        else if (value.charAt(0) == ' ') {
            document.getElementById('invalid-client-confirm-password').innerText = 'Cannot start with a space'
            isConfirmPasswordValid = false

        }
        else if (value.length < 6) {
            document.getElementById('invalid-client-confirm-password').innerText = 'The password is too short, minimum 6 characters'
            isConfirmPasswordValid = false

        }else if(value.length > 50){
            document.getElementById('invalid-client-confirm-password').innerText = 'Password is too long, maximum 50 characters'
            isConfirmPasswordValid = false

        } else if(valuePassword != value){
            document.getElementById('invalid-client-confirm-password').innerText = 'Re-enter the password incorrectly'
            isConfirmPasswordValid = false
        }
        else {
            document.getElementById('invalid-client-confirm-password').innerHTML = "<span style='color: #33cc33;'>Look good!</span>"
            isConfirmPasswordValid = true
        }
        validateForm()

    }


    function validateForm() {
        if (isUsernameValid == false || isPasswordValid == false || isConfirmPasswordValid == false) {
            document.getElementById('btn').disabled = true

        } else {
            document.getElementById('btn').disabled = false
        }
    }
</script>



<!-- offset area end -->
<!-- jquery latest version -->
<script src="/assets/js/vendor/jquery-2.2.4.min.js"></script>
<!-- bootstrap 4 js -->
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/metisMenu.min.js"></script>
<script src="/assets/js/jquery.slimscroll.min.js"></script>
<script src="/assets/js/jquery.slicknav.min.js"></script>

<!-- others plugins -->
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/scripts.js"></script>